---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Form from '../components/Form.astro';
---

<Layout>
	<Header />
	<section id="slider" class="relative">
		<video autoplay="" muted="" playsinline="" loop="" data-origwidth="0" data-origheight="0"
			style="width: 100%; height: 100%;" src="./../images/web.mp4"></video>
		<div class="text absolute-center">
			<h1>Soy Miguel Carrión</h1>
			<p>Y me dedico a diagnosticar la salud de tu negocio digital y ponerlo en plena forma para que despegue como
				nunca.</p>
		</div>
	</section>
	<section id="plan">
		<div class="container">
			<div class="col-2">
				<div class="left">
					<h2>Plan de acción</h2>
					<p>A través de mi agencia, Mikksa Network, y con ayuda de mi equipo de expertos, nos encargamos de
						evaluar las necesidades específicas de tu empresa, sean las que sean, y descubrir qué es lo que
						está impidiendo que desarrolle todo su potencial.</p>
					<p>Con esa información, trazamos un plan de acción que nos permita despejar el camino para que tus
						potenciales clientes lleguen hasta ti de manera fácil y rápida.</p>
					<p>Y no solo eso.</p>
					<div class="button-space">
						<a href="/contacto/" class="button">Contacta <svg width="19" height="10" viewBox="0 0 19 10"
								fill="none" xmlns="http://www.w3.org/2000/svg">
								<path
									d="M13.0774 8.57741C12.752 8.90285 12.752 9.43049 13.0774 9.75592C13.4028 10.0814 13.9305 10.0814 14.2559 9.75592L18.4226 5.58926C18.748 5.26382 18.748 4.73618 18.4226 4.41075L14.2559 0.244078C13.9305 -0.0813593 13.4028 -0.0813593 13.0774 0.244078C12.752 0.569515 12.752 1.09715 13.0774 1.42259L15.8215 4.16667H1.16665C0.706409 4.16667 0.333313 4.53976 0.333313 5C0.333313 5.46024 0.706409 5.83333 1.16665 5.83333H15.8215L13.0774 8.57741Z"
									fill="white" />
							</svg>
						</a>
					</div>
					<div class="col-2">
						<div class="left">
							<svg width="29" height="28" viewBox="0 0 29 28" fill="none"
								xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" clip-rule="evenodd"
									d="M0.5 3.5C0.5 1.56701 2.06701 0 4 0H13.1C13.8732 0 14.5 0.626801 14.5 1.4C14.5 2.1732 13.8732 2.8 13.1 2.8H4C3.6134 2.8 3.3 3.1134 3.3 3.5V18.9C3.3 19.2866 3.61339 19.6 4 19.6H14.5H25C25.3866 19.6 25.7 19.2866 25.7 18.9V12.6C25.7 11.8268 26.3268 11.2 27.1 11.2C27.8732 11.2 28.5 11.8268 28.5 12.6V18.9C28.5 20.833 26.933 22.4 25 22.4H15.9V25.2H21.5C22.2732 25.2 22.9 25.8268 22.9 26.6C22.9 27.3732 22.2732 28 21.5 28H14.5H7.5C6.7268 28 6.1 27.3732 6.1 26.6C6.1 25.8268 6.7268 25.2 7.5 25.2H13.1V22.4H4C2.06702 22.4 0.5 20.833 0.5 18.9V3.5Z"
									fill="#001A33" />
								<path
									d="M21.01 1.40002C19.7343 1.40002 18.7 2.40434 18.7 3.64321C18.7 5.88639 21.43 7.92563 22.9 8.40002C24.37 7.92563 27.1 5.88639 27.1 3.64321C27.1 2.40434 26.0658 1.40002 24.79 1.40002C24.0087 1.40002 23.3181 1.77665 22.9 2.35314C22.482 1.77665 21.7913 1.40002 21.01 1.40002Z"
									fill="#2F88FF" />
							</svg>
							<h6>Hacemos destacar tu negocio </h6>
							<p>En medio de la inmensidad del océano digital hasta convertirlo en un referente y un
								poderoso competidor en tu nicho, generando deseo y atracción hacia tus servicios y
								productos.</p>
						</div>
						<div class="right">
							<svg width="33" height="32" viewBox="0 0 33 32" fill="none"
								xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" clip-rule="evenodd"
									d="M5.43193 3.47734C6.02864 2.88064 6.83795 2.54541 7.68182 2.54541H17.8636C18.5665 2.54541 19.1364 3.11523 19.1364 3.81814C19.1364 4.52105 18.5665 5.09086 17.8636 5.09086H7.68182C7.51304 5.09086 7.35118 5.15791 7.23184 5.27725C7.1125 5.39659 7.04545 5.55845 7.04545 5.72723V19.7272C7.04545 19.896 7.1125 20.0579 7.23184 20.1772C7.35118 20.2965 7.51305 20.3636 7.68182 20.3636H26.7727C26.9415 20.3636 27.1034 20.2965 27.2227 20.1772C27.342 20.0579 27.4091 19.896 27.4091 19.7272V14.6363C27.4091 13.9334 27.9789 13.3636 28.6818 13.3636C29.3847 13.3636 29.9545 13.9334 29.9545 14.6363V19.7272C29.9545 20.5711 29.6193 21.3804 29.0226 21.9771C28.4259 22.5738 27.6166 22.909 26.7727 22.909H18.5V25.4545H23.5909C24.2938 25.4545 24.8636 26.0243 24.8636 26.7272C24.8636 27.4301 24.2938 28 23.5909 28H10.8636C10.1607 28 9.59091 27.4301 9.59091 26.7272C9.59091 26.0243 10.1607 25.4545 10.8636 25.4545H15.9545V22.909H7.68182C6.83795 22.909 6.02864 22.5738 5.43193 21.9771C4.83523 21.3804 4.5 20.5711 4.5 19.7272V5.72723C4.5 4.88336 4.83523 4.07405 5.43193 3.47734Z"
									fill="#001A33" />
								<path fill-rule="evenodd" clip-rule="evenodd"
									d="M20.6212 10.0757C20.6212 8.61132 21.8083 7.42419 23.2727 7.42419H26.4545C27.9189 7.42419 29.1061 8.61132 29.1061 10.0757C29.1061 10.9543 28.3938 11.6666 27.5152 11.6666H22.2121C21.3335 11.6666 20.6212 10.9543 20.6212 10.0757Z"
									fill="#2F88FF" />
								<path
									d="M24.8636 1.06055C23.3993 1.06055 22.2121 2.24767 22.2121 3.71206C22.2121 5.17645 23.3993 6.36358 24.8636 6.36358C26.328 6.36358 27.5152 5.17645 27.5152 3.71206C27.5152 2.24767 26.328 1.06055 24.8636 1.06055Z"
									fill="#2F88FF" />
							</svg>
							<h6>Para que tus clientes no dejen de llegar.</h6>
							<p>Y tu empresa online se convierta en todo aquello que siempre soñaste que fuera.</p>
							<p>¿Aún no tienes un negocio, pero tienes claro que es tu momento de emprender?</p>
							<p>No te preocupes. Porque estaremos contigo en cada paso hasta convertirlo en una realidad.
							</p>
						</div>
					</div>
				</div>
				<div class="right">
					<img src="./../images/img2.png" alt="Plan de acción" title="Plan de acción">
				</div>
			</div>
		</div>
	</section>
	<section id="form">
		<div class="w519">
			<Form />
		</div>
	</section>
	<section id="seo">
		<div class="container">
			<div class="col-2">
				<div class="left">
					<img src="./../images/img3.jpg" alt="Seo" title="Seo">
				</div>
				<div class="right">
					<h2>SEO</h2>
					<p>¿Te has gastado un dineral en una web, pero Google no sabe ni que existes (y tus clientes,
						menos)?</p>
					<p>Tener una buena presencia digital pasa porque tus clientes puedan encontrarte y contratar tus
						servicios o comprar tus productos.</p>
					<p>Y aquí es donde el SEO hace su magia, posicionando tu negocio para que siempre te encuentren y
						los motores de búsqueda te muestren orgullosos entre sus primeros resultados.</p>
					<p>Destacar entre la multitud es cuestión de técnica. Y yo te voy a mostrar cómo aplicarlo a tu
						negocio para que brille.</p>
				</div>
			</div>
		</div>
	</section>
	<section id="ecommerce">
		<div class="container">
			<div class="col-2">
				<div class="left">
					<h2>E-commerce</h2>
					<p>Las tiendas digitales tienen su propia manera de funcionar, de llegar a su público objetivo y de
						generar grandes ventas.</p>
					<p>Tener una buena presencia digital pasa porque tus clientes puedan encontrarte y contratar tus
						servicios o comprar tus productos. </p>
					<p>Y aquí es donde el SEO hace su magia, posicionando tu negocio para que siempre te encuentren y
						los motores de búsqueda te muestren orgullosos entre sus primeros resultados.</p>
					<p>Destacar entre la multitud es cuestión de técnica. Y yo te voy a mostrar cómo aplicarlo a tu
						negocio para que brille.</p>
				</div>
				<div class="right">

					<img src="./../images/img4.jpg" alt="Seo" title="Seo">

				</div>
			</div>
		</div>
	</section>
	<section id="seo">
		<div class="container">
			<div class="col-2">
				<div class="left">
					<img src="./../images/img5.jpg" alt="Seo" title="Seo">
				</div>
				<div class="right">
					<h2>Marketing Digital</h2>
					<p>No existe ni un solo negocio, físico o digital, que no necesite herramientas de marketing para
						prosperar.</p>
					<p>Y el tuyo no es una excepción. </p>
					<p>El marketing digital nos va a permitir convertir tu negocio online en aquello que la gente busca,
						aquello que desea y aquello que necesita. </p>
					<p>A través del marketing serás capaz de generar una comunicación directa, honesta y efectiva con
						tus usuarios. </p>
					<p>Y de conseguir nuevos clientes que te permitan escalar tu negocio como nunca. </p>

				</div>
			</div>
		</div>
	</section>
	<section id="ctafinal">
		<div class="col-2 no-gap">
			<div class="bg-cta">
				<div class="texto">
					<h3>Pero esto no es todo. </h3>
					<p>Porque encontrar la manera de hacer que las empresas de mis clientes desarrollen todo su
						potencial es lo que me hace levantarme con ganas cada mañana. </p>
					<h3>No hay nada más rentable que poner tu proyecto en manos de locos por los negocios digitales.
					</h3>
					<p>Solo tienes que venir y comprobarlo. </p>
					<p>Además, recibirás un montón de contenido gratuito sobre los temas que más te interesen, te
						avisaremos cada vez que saquemos nuevos servicios o formaciones y podrás acceder a todas las
						ofertas y promociones que saquemos a lo largo del año. </p>

				</div>
			</div>
			<div class="flexi-form">
				<Form />
			</div>
		</div>
	</section>
	<Footer />
</Layout>


<style>
	.relative {
		position: relative;
	}

	.absolute-center {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
	}

	h1 {
		font-weight: 100;
		font-size: 60px;
		line-height: 160%;
		text-align: center;
		color: #FFFFFF;
	}

	.text p {
		font-style: normal;
		font-weight: 400;
		font-size: 24px;
		line-height: 160%;
		text-align: center;
		color: #FFFFFF;
	}

	.button-space {
		padding: 20px 0px;
	}

	.button {
		background: #2F88FF;
		border-radius: 6px;
		color: #fff;
		text-decoration: none;
		padding: 8px 24px;

	}

	#form {
		background: #001A33;
		padding: 50px 0px;
	}

	.w519 {
		width: 519px;
		margin: auto;
	}

	.bg-cta {
		background: url('./../images/img6.png');
		background-size: cover;
		background-position: center;
		padding: 80px 80px;
		height: 768px
	}

	.bg-cta h3 {
		font-weight: 700;
		font-size: 32px;
		line-height: 140%;
		color: #FFFFFF;
	}

	.bg-cta p {
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 180%;
		color: #fff;
	}

	.flexi-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
</style>