<div class="header">
    <div class="container flex">
        <div class="logos">
            <a href="/"><img src="images/logo.svg" alt="logo" /></a>
            <a href="/"><img src="images/logo2.svg" alt="logo" /></a>
        </div>
        <div class="menu">
            <a href="/">Inicio</a>
            <a href="/sobremi">Sobre mí</a>
            <a href="/contacto">Contacto</a>
            <a href="/cursos">cursos</a>
            <a class="button" href="/contacto">Contacta</a>
        </div>
    </div>
</div>

<style>
    .header {

        padding: 20px;
        background-color: #fff;
        margin: 0px;

    }

    .logos {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
    }

    .menu a {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #001A33;
        text-decoration: none;
    }
</style>